<h1>This is a file that accesses secrets.yml</h1>
<%= Rails.application.secrets[:value_in_secrets] %>
<ul>
  <li>We should be able to manage secrets.yml and database.yml separately for each region</li>
  <li>All app servers in a region will share the same secrets.yml and database.yml files</li>
</ul>